# Ignore everything on scratch by default, except the provided examples
/*
!.gitignore

!nested-subdir/
!subdir/
!scratch-simulator.cc
!CMakeLists.txt

!CI-SGC/
CI-SGC/log/
CI-SGC/tmplog/
CI-SGC/tools/aggregate
CI-SGC/tools/trim